@charset "ISO-8859-1";

body {
	background: #d0ac55;
}

.container {
	width: 950px;
}

.body {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	width: 100%;
	line-height: 1.5;
	width: 950px;
}

.list {
	width: 950px;
	border: 2px solid black;
	padding: 5px;
}

.form {
	
}

.stock {
	width: 950px;
}

th {
	text-align:center;
	border-bottom: 1px solid black; 
	padding: 5px;	
}

header {
	font-size: 28px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	width: 100%;
}

.navbar {
	height: auto;
	width: 100%;
	margin: 5px;
}

.error {
	font-size: 64px;
	color: red;
	text-decoration: underline;
}

button.navbut {
  background-color: #663300;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 175px;
  margin: 5px;
}

button.additem {
  background-color: #663300;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  width: 50px;
}

button.menu {
  background-color: #663300;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  width: 125px;
}

button:hover {
	background-color: #b35900;
}